<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0//EN\" \"http://www.w3.org/TR/REC-html40/strict.dtd\">
<html><head><meta name=\"qrichtext\" content=\"1\" />
<style type=\"text/css\">
	p, li { white-space: pre-wrap; }
</style></head>
<body style="font-family:'Helvetica'; font-size:10px; font-weight:400; font-style:normal;">
<p align="center" style="margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style="font-size:8pt; font-weight:600;">Counter example for property_assert_test/observer</span></p><p/>

<p align="left" style="margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style="font-size:8pt; font-weight:600;">Inputs:</span></p>
<li style="margin-top:0px; margin-bottom:0px; margin-left:12px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style=" font-size:8pt;">In1 = [[0; 0; 0]];</span></li>
<li style="margin-top:0px; margin-bottom:0px; margin-left:12px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style=" font-size:8pt;">In2 = [[0; 0; 0]];</span></li>
<li style="margin-top:0px; margin-bottom:0px; margin-left:12px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style=" font-size:8pt;">In3 = [[0; 1/2; -1]];</span></li>
<li style="margin-top:0px; margin-bottom:0px; margin-left:12px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style=" font-size:8pt;">In4 = [[15 16 17;18 19 20]];</span></li>
<p style="margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style="font-size:8pt; font-weight:600;">Outputs:</span></p>

<li style="margin-top:0px; margin-bottom:0px; margin-left:12px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style=" font-size:8pt;">Out1 = [[1; 1/2; 2]];</span></li>
<li style="margin-top:0px; margin-bottom:0px; margin-left:12px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">
<span style=" font-size:8pt;">Out2 = [[0 0 0;0 0 0]];</span></li>
</body></html>
